@font-face {  
	font-family: lcd;
	src: 	local('Digiface Regular'), 
			url("Digiface+Regular.ttf") format("truetype");  
}
#theTime {
	font-family: lcd;
	position: relative;
	text-align: center;
}
.a {
 color: blue;
 text-decoration: underline;
 cursor: pointer }
.b {
 cursor: pointer }
span.b:hover {
 color: red }
